@font-face {
    font-family: 'Mager';
    src: url('../fonts/Mager.otf') format('truetype');
}


.About {
    padding-top: 100px; /* Adjust this value to match your banner's height */
}

/* WHY WE STARTED THIS */

.WhyStartedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Catchy Mager';
    background-color: #1e59c5;
    color: white;
    font-size: x-large;
    height: 500px;
}

.WhyStartedLeft {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhyStartedLeft h1 {
    font-size: 3em;
    margin: 0;
}

.WhyStartedRight {
    flex: 2;
    padding-left: 20px;
    min-width: 700px;
}

.WhyStartedRight p {
    margin: 0;
    font-size: 1.2em;
}

/* WHAT WE DO */

.WhatWeDoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Catchy Mager';
    background-color: rgb(233, 233, 229);
    color: rgb(90, 36, 36);
    font-size: x-large;
    height: 500px;
}

.WhatWeDoRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhatWeDoRight h1 {
    font-size: 3em;
    margin: 0;
}

.WhatWeDoLeft {
    flex: 2;
    padding-left: 20px;
    min-width: 700px;
}

.WhatWeDoLeft p {
    margin: 0;
    font-size: 1.2em;
}