@font-face {
  font-family: 'Mager';
  src: url('./fonts/Mager.otf') format('truetype');
}

.Contact {
    padding-top: 100px; /* Adjust this value to match your banner's height */
    text-align: center;
    align-items: center;
    background-color: #0F5C24;
    height: 1000px;
    font-family: 'Catchy Mager ';
}

.SquareContainer {
    display: flex;
    justify-content: space-around;
}

.ContactSquare {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    background-color: #0F5C24;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
  }

  .SocialButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .SocialButton {
    background-color: white;
    color: green;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    /* Optional: Rounded corners */
    transition: background-color 0.3s ease;
    /* Optional: Smooth hover effect */
    text-decoration: none;
    /* Remove underline from links */
    /* display: flex; */
    font-family: 'Yeseva One'; /* Replace with 'Long Island' if using that directly */
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
    