.Contact {
    padding-top: 100px; /* Adjust this value to match your banner's height */
    text-align: center;
    align-items: center;
    background-color: green;
    height: 1000px;
}

.ContactSquare {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    background-color: green;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
  }