@font-face {
    font-family: 'Mager';
    src: url('./fonts/Mager.otf') format('truetype');
}

.Resources {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    /* Adjust this value to match your banner's height */
    height: 1000px;
    font-family: 'Catchy Mager';
    text-align: center;
    background-color: #0F5C24;
    align-items: center;
}

.title {
    color: white;
}

.ActionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    /* Adjust the gap as needed */
}

.Action {
    display: flex;
    flex-direction: column;
}

.ResourceButton {
    background-color: white;
    color: green;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    /* Optional: Rounded corners */
    transition: background-color 0.3s ease;
    /* Optional: Smooth hover effect */
    text-decoration: none;
    /* Remove underline from links */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Yeseva One'; /* Replace with 'Long Island' if using that directly */
}

.ResourceButton:hover {
    background-color: #e0e0e0; /* Optional: Change color on hover */
}

img {
    display: block;          /* Remove any default inline spacing */
    max-width: 100%;         /* Ensures images fit within their container */
    height: auto;            /* Maintains aspect ratio */
}

